<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Sign-up</title>
</head>

<body class="flex items-center justify-center min-h-screen bg-white">

    <!-- Container -->
    <div class="w-full max-w-md px-6">
        <!-- Logo -->
        <div class="flex justify-center mb-8">
            <img src="images/Vector.png" alt="Logo" class="h-8">
        </div>

        <!-- Heading -->
        <h1 class="text-2xl font-bold text-center mb-6">Sign up</h1>

        <!-- Form -->
        <form id="signupForm" class="space-y-4">
            <!-- Email Input -->
            <div>
                <input type="email" placeholder="Email address" id="email" name="email"  required
                    class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-teal-500">
            </div>

    





            <!-- Terms and Privacy -->
            <div class="flex items-center mb-6">
                <input type="checkbox" required class="h-4 w-4 border-gray-300">
                <span
                    class="ml-2 text-stone-900 text-base font-normal font-['open-sans'] leading-snug text-gray-700 text-sm">
                    I agree to the <a href="#"
                        class="text-stone-900 text-base font-normal font-['open-sans'] underline">terms and Privacy</a>
                </span>
            </div>

            <!-- Log In Button -->
            <button type="submit"
                class="bg-teal-600 text-white font-bold py-2 rounded-lg hover:bg-teal-700 w-full mb-6">
                Sign up
            </button>

            <div class="text-center mx-auto text-black text-base">or</div>

            <!-- Google Button -->
            <div class="flex justify-center items-center w-full"> <button type="button"
                    class="flex items-center justify-center bg-white text-gray-600 font-medium py-2 rounded-lg text-base hover:bg-gray-100 active:bg-gray-200 border border-gray-300 shadow-md gap-2 w-full mt-6 focus:ring-2 focus:ring-blue-500"
                    onclick="handleGoogleSignIn()"> <img class="w-6 h-6" src="/images/icons8-google-50.png"
                        alt="Google Logo"> <span>Sign up with Google</span> </button> </div>

            <!-- Sign In Link -->
            <p class="text-center text-gray-600 mt-4 text-sm">
                Already have an account?
                <a href="/sigin.html" class="text-teal-600 font-medium">Sign In</a>
            </p>

            <!-- Email Prompt -->
            <p class="mt-4 text-center">Please enter your email address to Sign up</p>
        </form>
    </div>

</body>

</html>